<div class="cover align-middle">
  <div class="text-center">
    <p class="sub-title">～旅行の思い出を共有する～</p>
    <h1 class="number-5000">Traveler</h1>

    <%= link_to new_user_registration_path do %>
     <h2 class="btn btn-primary mr-2">新規登録</h2>
    <% end %>
    
    <%= link_to new_user_session_path do %>  
      <h2 class="btn btn-success ml-2">ログイン</h2>
    <% end %>

    <%= button_to 'ゲストログイン', guest_sign_in_path, method: :post, class: "btn btn-warning mt-3" %>
  </div>
</div>